.selectorCadenaDescendente div h2 {

    background-color: blue;
    height: 100px;


}



.selectorDeTodosLosHijos>div>h2 {


    background-color: blue;
    height: 100px;

}

.margin1 {

    margin: 50px;
    height: 200px;
    background-color: yellow;

}


.padding2 {

    padding: 50px;
    height: 200px;
    background-color: violet;

}



.display>p {
    background-color: aqua;

}

.display a {
    background-color: deeppink;

}

.display h1 {
    background-color: red;

}

.display h3 {
    background-color: violet;

}

.display h6 {
    background-color: darkkhaki;

}

.display div {
    background-color: chartreuse;

}

/* PARTE2 */


.display2 p {
    background-color: aqua;
    display: inline;
}

.display2 a {
    background-color: deeppink;
    display: block;
}

.display2 h1 {
    background-color: red;
    display: inline;
}

.display2 h3 {
    background-color: violet;
    display: inline;
}

.display2 h6 {
    background-color: darkkhaki;
    display: inline;
}

.display2 div {
    background-color: chartreuse;
    display: inline;
}

.display2>div>p {
    background-color: chartreuse;
    display: inline;
}





.row1 {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    background-color: green;


}

.column2 {
    width: 300px;
    /* ancho*/
    height: 300px;
    /* alto*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    background-color: blue;
}



/* EJERCICIO 1 */


.fila {

    display: flex;



}


.dos {

    width: 20%;
    text-align: center;
    background-color: purple;

}

.tres {

    width: 30%;
    text-align: center;
    background-color: blue;

}

.cinco {

    width: 50%;
    text-align: center;
    background-color: palevioletred;

}



/* EJERCICIO 2 */




.ejercicio2 {

    display: flex;
    flex-direction: column;
    padding: 10px;

}

.columna1 {

    background-color: yellow;
    height: 100px;
    margin-bottom: 5px;

}

.columna2 {

    background-color: red;
    height: 200px;
    margin-top: 5px;
}


/* EJERCICIO3 */

.ejercicio3 {

    display: flex;
    flex-direction: row;

}

.porcentaje1 {

    background-color: blueviolet;
    width: 40%;
}

.porcentaje2 {

    background-color: pink;
    width: 60%;
    display: flex;
    flex-direction: row;

}

.tres {

    width: 30%;
    background-color: aqua;

}

.siete {

    width: 70%;
    background-color: brown;
}

.ejemploMQ {

    height: 500px;

}

@media (max-width:350px) and (min-width:0px) {

    .ejemploMQ {

        background-color: green;

    }

}

@media (max-width:616px) and (min-width:350px) {

    .ejemploMQ {

        background-color: red;

    }

}

@media (max-width:933px) and (min-width:616px) {

    .ejemploMQ {

        background-color: blue;

    }

}

@media (max-width:1131px) and (min-width:933px) {

    .ejemploMQ {

        background-color: yellow;

    }

}

@media (min-width:1131px) {

    .ejemploMQ {

        background-color: brown;

    }

}


/* EJERCICIO ABSOLUTE Y RELATIVE */

.ejercicioAR {

    height: 500px;
    background-color: blue;
    position: relative;
    /* background-image: linear-gradient(to top,red 0%, blue 50%, green 90%); */
}

.ejercicioAR div {

    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    bottom:250px;
    right: 0;
    -webkit-box-shadow: -26px 42px 55px 127px rgba(0,0,0,0.74);
    -moz-box-shadow: -26px 42px 55px 127px rgba(0,0,0,0.74);
    box-shadow: -26px 42px 55px 127px rgba(0,0,0,0.74);
}
    