:root {
    --colorPincipal: #9932cc;
    --colorSecundario: #FBE1FE;
    --tamañoTexto: 1rem;
    --colorTextosecundario: white;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-size: 62, 5%;
    font-family: 'Mulish', sans-serif;


}


/* CONTENEDOR */

.contenedor {

    margin-left: 5rem;
    margin-right: 5rem;
    color: white;

}

.navegacion {

    background-color: var(--colorPincipal);

    padding: 2rem;
}




.partePrincipal {
    background-color: green;
    width: 100%;
    height: 50vh;

}


.partePrincipal .imagen {
    width: 25rem;
    height: 20rem;
    display: flex;
    flex-direction: flex;
    justify-content: left end;

}

.partePrincipal .texto {
    position: absolute;
    top: 50%;
    left: 50%;



}