:root {
    --colorPincipal: #9932cc;
    --colorSecundario: #FBE1FE;
    --tamañoTexto: 1rem;
    --colorTextosecundario: white;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-size: 62, 5%;
    font-family: 'Mulish', sans-serif;

   
}


/* CONTENEDOR */

.contenedor {

    margin-left: 5rem;
    margin-right: 5rem;
    color: white;

}

.navegacion {

    background-color: var(--colorPincipal);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
}