:root {
    --colorPincipal: #9932cc;
    --colorSecundario: #dda0dd;
    --tamañoTexto: 1.5rem;
    --colorTextosecundario: white;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {

    font-size: 62, 5%;
}


/* CONTENEDOR */

.contenedor {

    margin-left: 5rem;
    margin-right: 5rem;


}

/* SECCION HEADER */

.navegacion {

    background-color: var(--colorPincipal);
    border-radius: 2%;

}

.enlaces {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
 


}

/* SECCION MAIN/BANER */

.main {
    background-color: var(--colorSecundario);
}



/* SECCION CATEGORIAS */





/* <!-- SECCION DE VIDEOS/REVIEWS --> */




/* <!-- SECCION NOTICIAS --> */




/* <!-- SECCION LINKS DE CAPS COMPLETOS O PLATAFORMA  --> */




/* <!-- SECCION DE EVENTOS (PODRIA ENTAR EN NOTICIAS) --> */






/* <!-- SECCION FOOTER --> */

.info {

    color: var(--colorTextosecundario);
    background-color: var(--colorPincipal);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    border-radius: 2%;
    margin-bottom: 1rem;
}



.info .contacto {

    width: 50vw;


}



.info .redesSociales {

    width: 50vw;


}

.info a {

    margin: 3rem;
    text-decoration: none;
}